* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    height: 100%;
    display: grid;
    place-items: center;
    background: #f5f5f5;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    animation: rotate 6s infinite alternate linear;
}

.circle {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #00b7ff;
}

.circle::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -50vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #1900ff;
}

.card {
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 160px 30px 30px;
    border-radius: 1.25rem;
    background: #fff;
    text-align: center;
    box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
}

.card::before {
    content: "";
    position: absolute;
    background: #2f00ff;
    top: -880px;
    left: 50%;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    translate: -50% 0;
}

.card .logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    height: 64px;
    width: 64px;
    top: 34px;
    left: 50%;
    translate: -50% 0;
}
.card .logo p {
    font-size: 20px;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 30px;
    color: black;
}

form {
    margin: 0 0 30px;
    display: grid;
    gap: 10px;
}

.form>input, .form>button {
    width: 100%;
    height: 50px;
    border-radius: 28px;
}

.form>input {
    border: 2px solid #e0e0e0;
    font-size: inherit;
    font-size: 16px;
    padding: 0 24px;
    transition: all 0.375s;
}
form>input:hover {
    border: 2px solid #00000000;
}